<template>
    <transition :name="transitionName">
        <div class="mola-cookie-notice" :class="cssClassNames" v-if="shouldShowCookieNotice">
            <div class="mola-cookie-notice__inner">

                <div class="mola-cookie-notice__text">
                    <h5 v-if="shouldShowHeadline">{{ headline }}</h5>
                    <p>
                        {{ text }}
                        <a href="#" :href="linkHref" target="_blank" v-if="shouldShowLink">{{ linkText }}</a>
                    </p>
                </div>

                <div class="mola-cookie-notice__buttons">
                    <div class="mola-cookie-notice__accept">
                        <a @click.prevent="cookiesAccepted">{{ acceptText }}</a>
                    </div>
                    <div class="mola-cookie-notice__deny">
                        <a @click.prevent="cookiesDenied">{{ denyText }}</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: 'MolaCookieNotice',

        // Component properties/variables (Alphabetized)
        props: {
            acceptText: {
                type: String,
                default: 'Accepter',
            },
            denyText: {
                type: String,
                default: '✕',
            },
            cookieName: {
                type: String,
                required: true,
            },
            development: {
                type: Boolean,
                default: false,
            },
            headline: {
                type: String,
                default: '',
            },
            linkHref: {
                type: String,
                default: '',
            },
            linkText: {
                type: String,
                default: '',
            },
            placement: {
                type: String,
                default: 'top',
                validator(value) {
                    return value === 'top' || value === 'bottom'
                },
            },
            text: {
                type: String,
                required: true,
            },
            transition: {
                type: String,
                default: '',
            },
            showCookieNotice: {
                type: Boolean,
                default: false,
            },
        },

        // Variables
        data() {
            return {
                shouldShowCookieNotice: false,
            }
        },
        computed: {
            cssClassNames() {
                return this.placement === 'top' ? 'mola-cookie-notice--top' : 'mola-cookie-notice--bottom'
            },
            shouldShowHeadline() {
                return this.headline !== ''
            },
            shouldShowLink() {
                return this.linkHref !== '' && this.linkText !== ''
            },
            transitionName() {
                let t = ''

                if (this.transition === 'fade') {
                    t = 'fade'
                } else if (this.transition === 'shrink' && this.placement === 'top') {
                    t = 'shrink-up'
                } else if (this.transition === 'shrink' && this.placement === 'bottom') {
                    t = 'shrink-down'
                }

                return t
            },
        },

        // When component uses other components
        components: {},

        // Methods
        watch: {
            showCookieNotice(newVal) {
                this.shouldShowCookieNotice = newVal
            },
        },
        methods: {
            getCookie() {
                const pos = document.cookie.indexOf(`${this.cookieName}-cookie-notice=`)
                return (pos !== -1)
            },
            cookiesAccepted() {
                this.setCookie()
                this.shouldShowCookieNotice = false
                this.$emit('cookies-accepted')
            },
            cookiesDenied() {
                this.shouldShowCookieNotice = false
                this.$emit('cookies-denied')
            },
            setCookie() {
                const expiryDate = new Date()
                expiryDate.setDate(expiryDate.getDate() + 365)
                document.cookie = `${this.cookieName}-cookie-notice=1; expires=${expiryDate.toGMTString()}; path=/`
            },
        },

        // Component Lifecycle hooks
        beforeCreate() {},
        mounted() {
            if (this.development || !this.getCookie()) {
                this.shouldShowCookieNotice = true
            }
        },
    }
</script>

<style lang="scss" scoped>
    .mola-cookie-notice {
        position: fixed;
        right: 0;
        left: 0;
        padding: 10px;
        z-index: 1000;

        &.mola-cookie-notice--top {
            top: 0px;
        }

        &.mola-cookie-notice--bottom {
            bottom: 0;
        }

        .mola-cookie-notice__inner {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .mola-cookie-notice__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            h5 {
                margin: 0;
            }
            p {
                margin: 0;
            }
        }
        
        .mola-cookie-notice__buttons {
            position: relative;
            display: flex;
            align-items: center;
            .mola-cookie-notice__accept, .mola-cookie-notice__deny {
                a {
                    cursor: pointer;
                }
            }
            @media (max-width: 480px) {
                justify-content: center;
                flex-direction: column-reverse;
                align-items: flex-end;
            }
        }

        // Fade animation
        &.fade-enter-active, &.fade-leave-active {
            opacity: 1;
            transition: opacity 0.45s ease 1.2s;
        }

        &.fade-enter, &.fade-leave-to {
            opacity: 0;
            transition: opacity 0.55s;
        }

        // Shrink up animation
        &.shrink-up-enter-active, &.shrink-up-leave-active {
            transform: translate3d(0, 0, 0);
            transition: all 0.45s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1.2s;
            overflow: hidden;
        }

        &.shrink-up-enter, &.shrink-up-leave-to {
            transform: translate3d(0, -100%, 0);
            transition: all 0.55s cubic-bezier(0.165, 0.840, 0.440, 1.000);
            overflow: hidden;
        }

        // Shrink down animation
        &.shrink-down-enter-active, &.shrink-down-leave-active {
            max-height: 500px;
            transition: all 8.0s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1.2s;
            overflow: hidden;
        }

        &.shrink-down-enter, &.shrink-down-leave-to {
            max-height: 0;
            transition: all 0.55s cubic-bezier(0.165, 0.840, 0.440, 1.000);
            overflow: hidden;
        }
    }
</style>
